.DS_Store
Thumbs.db
_gitignore/
Vagrantfile
.vagrant/
/.idea
/index.html

dist/builds/
dist/release/

error.log
access.log

/*.conf
Caddyfile
!caddyfile/

og_static/

.vscode/

*.bat

/bin
/config.toml

